// 共通のスタイル
html {
    font-size: 62.5%;
}
body {
    font-family: $default-font-family;
    font-size: $default-font-size;
    line-height: 2.4rem;
    letter-spacing: 0.3rem;
    color: $color-theme-black;
}

@include screen-mq(pc) {
    h1 {
        font-size: 5rem;
        line-height: 4.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 3rem;
    }
    h4 {
        font-size: 2.5rem;
    }
}
@include screen-mq(sp) {
    h1 {
        font-size: 3rem;
        line-height: 4.5rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3, h3 > span {
        font-size: 1.9rem;
        letter-spacing: 0.2rem;
    }
    h4, h4 > span {
        font-size: 1.9rem;
        letter-spacing: 0.2rem;
    }
}
@include screen-mq(se) {
    h3, h3 > span {
        font-size: 1.8rem;
    }
    h4, h4 > span {
        font-size: 1.8rem;
    }
}
