// 余白用クラス

/*———————————————————————————
 padding
————————————————————————————*/
//————————————pc————————————>
// padding 上下
.py-pc-4 {
    @include screen-mq(pc) {
        padding-top: 4%;
        padding-bottom: 4%;
    }
}
.py-pc-10 {
    @include screen-mq(pc) {
        padding-top: 10%;
        padding-bottom: 10%;
    }
}
.py-pc-7 {
    @include screen-mq(pc) {
        padding-top: 7%;
        padding-bottom: 7%;
    }
}
// padding 左右
.px-pc-3 {
    @include screen-mq(pc) {
        padding-right: 3%;
        padding-left: 3%;
    }
}
.px-pc-11 {
    @include screen-mq(pc) {
        padding-right: 11%;
        padding-left: 11%;
    }
}
.px-pc-15 {
    @include screen-mq(pc) {
        padding-right: 15%;
        padding-left: 15%;
    }
}
// padding 上
.pt-pc-7 {
    @include screen-mq(pc) {
        padding-top: 7%;
    }
}
//————————————sp————————————>
// padding 上下
.py-sp-16 {
    @include screen-mq(sp) {
        padding-top: 16%;
        padding-bottom: 16%;
    }
}
.py-sp-10 {
    @include screen-mq(sp) {
        padding-top: 10%;
        padding-bottom: 10%;
    }
}
// padding 左右
.px-sp-5 {
    @include screen-mq(sp) {
        padding-right: 5%;
        padding-left: 5%;
    }
}
// padding 上
.pt-sp-16 {
    @include screen-mq(sp) {
        padding-top: 16%;
    }
}

/*———————————————————————————
 margin
————————————————————————————*/
.m-5 {
    margin: 5%;
}
// margin 上下
.my-5 {
    margin-top: 5%;
    margin-bottom: 5%;
}

// margin 下
.mb-5 {
    margin-bottom: 5%;
}
.mb-10 {
    margin-bottom: 10%;
}
.mb-15 {
    margin-bottom: 15%;
}
//————————————pc————————————>
// margin 下
.mb-pc-5 {
    @include screen-mq(pc) {
        margin-bottom: 5%;
    }
}
//————————————sp————————————>
// margin 下
.mb-sp-6 {
    @include screen-mq(sp) {
        margin-bottom: 6%;
    }
}
.mb-sp-10 {
    @include screen-mq(sp) {
        margin-bottom: 10%;
    }
}
.mb-sp-16 {
    @include screen-mq(sp) {
        margin-bottom: 16%;
    }
}
